.sl-vue-tree{
    font-size: 0.9em;
    font-family: MyriadPro-Semibold;
}

.sl-vue-tree-selected > .sl-vue-tree-node-item {
    background-color: #3A9AFC;
    color: white;
}

.sl-vue-tree-selected > .sl-vue-tree-node-is-folder{
    background-color: #343338;
    color: white;
}

.sl-vue-tree-node-is-folder{
    background-color: #343338;
    box-shadow: 0px 1px 2px 0.5px black;
    /*border: 0.1px solid black;*/
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.tree-container {
    flex-grow: 1;
}

.sl-vue-tree.sl-vue-tree-root {
    flex-grow: 1;
    height: auto;
}

.item-icon {
    display: inline-block;
    text-align: left;
    /*width: 10px;*/
}

.sl-vue-tree.sl-vue-tree-root{
    background-color: rgba(0, 0, 0,0);
    border: 0px ;

}
.sl-vue-tree-toggle {
    width: 7px;
}
.file-icon{
    margin-right: 2px;
}

.locked-file{
    opacity: 1;
}
.unlocked-file{
    opacity: 0.1;
}
.unlocked-file:hover{
    opacity: 1;
}


/* Section Customized Scrollbar */

.v-navigation-drawer {
    overflow-y: hidden;
    overflow-x: hidden;
}
.tree-container{
    height: 33.5em;
    /*height: auto;*/
}

.tree-container{
    overflow-y: overlay;
    /*-webkit-transition: all .5s;*/
}

.tree-container::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0);
    /*-webkit-transition: all .5s;*/
}

.tree-container:hover::-webkit-scrollbar-thumb{
    background: #1c66cb;
    /*-webkit-transition: all .5s;*/
}

.tree-container:hover::-webkit-scrollbar {
    width: 3px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c66cb;
}

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
    /*background: #555;*/

/*}*/
/*!* MAGIC HAPPENS HERE *!*/
/*.scroll-bar-wrap:hover .cover-bar {*/
    /*opacity: 0;*/
    /*-webkit-transition: all .5s;*/
/*}*/