
.sl-vue-tree-selected > .sl-vue-tree-node-item {
    background-color: #3A9AFC;
    color: white;
}

.sl-vue-tree-selected > .sl-vue-tree-node-is-folder{
    background-color: #343338;
    color: white;
}

.sl-vue-tree-node-is-folder{
    background-color: #343338;
    box-shadow: 0px 1px 2px 0.5px black;
    /*border: 0.1px solid black;*/
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.tree-container {
    flex-grow: 1;
}

.sl-vue-tree.sl-vue-tree-root {
    flex-grow: 1;
    height: auto;
}

.item-icon {
    display: inline-block;
    text-align: left;
    width: 20px;
}

.sl-vue-tree.sl-vue-tree-root{
    background-color: rgba(0, 0, 0,0);
    border: 0px ;

}
.v-navigation-drawer {
    overflow-y: hidden;
    overflow-x: hidden;
}
.tree-container{
    height: 33.5em;
}

.tree-container:hover{
    overflow-y: overlay;
    -webkit-transition: all .5s;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c66cb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}
/*!* MAGIC HAPPENS HERE *!*/
/*.scroll-bar-wrap:hover .cover-bar {*/
    /*opacity: 0;*/
    /*-webkit-transition: all .5s;*/
/*}*/