@font-face
  font-family MyriadPro
  src url("~@/assets/fonts/MyriadPro-Regular.woff") format('woff')
  src url("~@/assets/fonts/MyriadPro-Regular.woff2") format('woff2')
  src url("~@/assets/fonts/MyriadPro-Regular.ttf") format('truetype')

  @font-face
  font-family MyriadPro-Bold
  src url("~@/assets/fonts/MyriadPro-Bold.woff") format('woff')
  src url("~@/assets/fonts/MyriadPro-Bold.woff2") format('woff2')
  src url("~@/assets/fonts/MyriadPro-Bold.ttf") format('truetype')

  @font-face
  font-family MyriadPro-Semibold
  src url("~@/assets/fonts/MyriadPro-Semibold.woff") format('woff')
  src url("~@/assets/fonts/MyriadPro-Semibold.woff2") format('woff2')
  src url("~@/assets/fonts/MyriadPro-Semibold.ttf") format('truetype')