@font-face
  font-family MyriadPro
  src url("~@/assets/fonts/MyriadPro-Regular.woff") format('woff')
  src url("~@/assets/fonts/MyriadPro-Regular.woff2") format('woff2')
  src url("~@/assets/fonts/MyriadPro-Regular.ttf") format('truetype')