    /*
    Flaticon icon font: Flaticon
    Creation date: 30/09/2018 11:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-object-alignment:before { content: "\f100"; }
.flaticon-alignment:before { content: "\f101"; }
.flaticon-object-alignment-1:before { content: "\f102"; }
.flaticon-align:before { content: "\f103"; }
.flaticon-edit-tools:before { content: "\f104"; }
.flaticon-object:before { content: "\f105"; }
.flaticon-ui:before { content: "\f106"; }
.flaticon-edit-tools-1:before { content: "\f107"; }
.flaticon-align-1:before { content: "\f108"; }
.flaticon-object-alignment-2:before { content: "\f109"; }
.flaticon-ui-1:before { content: "\f10a"; }
    
    $font-Flaticon-object-alignment: "\f100";
    $font-Flaticon-alignment: "\f101";
    $font-Flaticon-object-alignment-1: "\f102";
    $font-Flaticon-align: "\f103";
    $font-Flaticon-edit-tools: "\f104";
    $font-Flaticon-object: "\f105";
    $font-Flaticon-ui: "\f106";
    $font-Flaticon-edit-tools-1: "\f107";
    $font-Flaticon-align-1: "\f108";
    $font-Flaticon-object-alignment-2: "\f109";
    $font-Flaticon-ui-1: "\f10a";